/*Reset*/
* {
	margin:0;
	padding:0;
}

body {
	background:#FFFFFA;
}
/*Reset*/
header {
	width:100%;
	position: fixed;
	top: 0px;
	overflow: hidden;
	background:#cddc39;
	border-bottom: 4px solid #8bc34a;
	z-index: 1000;


}
 
header nav {
	width:90%;
	max-width:1000px;
	margin:0 auto;
	background:#cddc39;
	z-index: 1000;

}
.bt-menu{
	cursor: pointer;
	z-index: 1000;
}
.icon-list2{
	

}
.titulo_header{
	font-size: 13pt;
	float: right;
	position: absolute;
	top: 30px;
	left:0px;
	margin:0 auto;
	font-family: "OpenSans-Semibold";
	width: 100%;
	text-align: center;
}
.menu_bar {
	display:none;
	overflow: hidden;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	margin:0px;
	display:block;
	font-family: "OpenSans-Semibold";
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#cddc39;

}
 
section {
	padding:20px;
	position: absolute;
	top:90px;
}
/*Lista*/
.estado1{
	font-family: "OpenSans-Semibold";
}
 
.estado2{
	font-family: "OpenSans-Semibold";
}

/*CATEOGIRAS*/
.titulo{
	width: 100%;
	color: #5d5d5d;
	font-family: OpenSans-Semibold;
	font-size: 15pt;
	text-align: center;
	margin-top: 110px;
	margin-bottom: 20px;

}
	
.categoria{
	width: 100%;
	margin: 0 auto; 
	height: auto;
	margin-top:20px; 
}
.img_categoria{
	width: 100%;
	height: static;
	background: red;
}
.img_categoria:hover{
	background-color:red;
}

.detalle_categoria{
	margin-top:-6px;
	width: 100%;
	height: 80px;
	background-color:rgba(0,0,0,0.1); 
}
.titulo_categorias{
	font-family: "OpenSans-Semibold";
	font-size: 15pt;
	padding: 20px;
	text-align: center;
	color:#5d5d5d;

}
/*adoptados*/





/*perfil-icon*/
.perfil{
	margin-top: 90px;
	width: 100%;
}
.img_perfil{
	width: 30%;
	margin:0 auto; 
	border-radius: 50%;
	border: 8px solid red;
	
	
}














 
