@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/fuentes/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/fuentes/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/fuentes/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/fuentes/OpenSans-Semibold.ttf);
}



