@media screen and (min-width: 992px){}
@media screen and (max-width: 1200px) and (min-width: 992px){}
@media screen and (max-width: 991px) and (min-width: 768px){}
@media screen and (max-width: 767px) and (min-width: 593px){}
@media screen and (max-width: 592px){}
@media screen and (max-width: 991px){}
/*Responsive menu*/
@media screen and (max-width:1024px ) 
{
	header nav {
		width:50%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		background:#cddc39;
	}
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		font-family: "Raleway";
		background:#cddc39;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}


	@media screen and (max-width:450px) 
{
	header nav {
		width:50%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
	 
		header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
	 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#cddc39;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}

/*CATEGORIAS*/
@media screen and (min-width: 1024px) and (max-width: 1920px){
	.categoria{
		width: 50%;

	}
}

