body{
	width: 100%;
	position: relative;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: scroll;
}
form{
	color: white;
}
.view-login{
	height: 100%;
	position: relative;
	display: inline-block;
	padding-bottom: 30px;
	background-color: rgba(0,0,140,0.7);
	text-align: center;
}
.img-log{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.img-log > img{
	z-index: 2;
	position: absolute;
	width: 300%;
	left: -50%;
	top: 0%;
	filter: blur(3px); 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	opacity: 0.8
}
.login{
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 30px 20px;
	text-align: center;
	z-index: 10;
}
.login > .logo{
	padding: 20px;
	font-size: 50px;
	color: white;
}
.frm-inputs > input{
	position: relative;
	top: 0px;
	display: inline-block;
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	border: 0px;
	border-bottom: 3px white solid;
	margin-bottom: 40px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 3px;
}
.frm-inputs > input:hover, .frm-inputs > input:active, .frm-inputs > input:focus{
	border-color: #71c400;
}
.frm-inputs > button{
	display: inline-block;
	background-color: #579700;
	position: relative;
	z-index: 10;
	padding: 6px 30px;
	font-size: 16px;
	border: 2px;
	border-radius: 3px;
	border-bottom: 3px #71c400 solid;
	color: white;
}
.frm-inputs > button:hover, .frm-inputs > button:active{
	background-color: #71c400;
}
#frm-Login{
	padding: 10px 0px;
}
#frm-Login > input, #frm-registro > input{
	width: 100%;
}
.line-v{
	display: inline-block;
	position: relative;
	z-index: 10;
	padding: 6px 15px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border-radius: 3px;
	border-bottom: 3px #71c400 solid;
}
#frm-registro > input{
	margin-bottom: 0px;
	margin-top: 10px;
}
#frm-registro > input[type="radio"]{
	display: inline-block;
	width: auto;
}
input.error{
	border-bottom:3px #d50000 solid !important;
}
label.error{
	width: 100%;
	display: inline-block;
	position: relative;
	color: red;
	padding: 3px 15px;
	border: 1px #d50000 solid;
	border-top: 0px;
	margin-top: -2px;
	background-color: rgba(213,0,0,0.2);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}